body {
  padding: 0px;
  margin: 0px;
}



.navbar {
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  width: 100%;
  height: 50px;
  margin-top: 40px;
  text-align: center;
}

.nav {
  justify-content: space-between;
}

.left-nav, .right-nav{
  display: flex;
  flex-direction: row;
}

.nav-item {
  display: flex;
}
.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  display: flex;
  background: url(https://res.cloudinary.com/arpannln/image/upload/v1518989062/shaking.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100%;
  z-index: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
