/* #calendar {
  position: absolute;
  background-color: white;
  z-index: 2;
  display: flex;
  width: 600px;
  height: 400px;
  color: black;
  margin-left: 300px;
  margin-top: 200px;
  border: 2px solid black;
} */

#calendar {
  width: 60%;
  padding-right: 20px;
}

