.userAndCalendar {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.app-container {
  padding: 0px;
  margin: 0px;
  position: absolute;
  display: flex;
  background-color: rgba(1, 50, 67, 1.0);
  /* background-color: rgba(126, 192, 238, 1.0); */



  width: 100%;
  height: 100%;
  z-index: 0;

}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-container {
  height: 100vh;
}
/*

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
